* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos gerais da página */
body {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  background-color: #f4f7f6;
  color: #333333;
  line-height: 1.6;
}

/* cabeçalho */
